Header{justify-content: space-between; align-items: center;background-color: rgb(231, 238, 142);padding: 5px;}
ul{list-style: none;}    
a{text-decoration: none;    text-align: center;
    text-decoration: none;
    color: rgb(240, 71, 20);
    font-size: 1.3em;}
li{padding: 10px;text-decoration: none; text-align: center;text-decoration: none;color: rgb(240, 71, 20);
  font-size: 1.3em;}
.FLEX{display: flex;justify-content: space-around; align-items: center;}
.BG{background-color: rgb(34, 36, 34);}
h2{color:rgb(230, 69, 69) ;}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 30%;
    
  }
  .card:hover {
    box-shadow: 0 8px 10px 0 rgba(0,0,0,0.2);
    justify-content: space-between;
  }
